.dialog
{
	background-color: white;
	position: fixed;
	left: 10%;
	bottom: 10%;
	width: 80%;
	height: 30%;
	border-style: solid;
	border-color: #66cbea;
	border-radius: 5px;
	opacity: 70%;
}

.dialog-text
{
	position: relative;
	left: 5%;
	top: 20%;
	font-size: medium;
}

#character
{
	color:white;
	-webkit-text-stroke:2px #66cbea;
	position: relative;
	font-size: 150%;
	left: 5%;
}

.button
{
	background-color: #66cbea;
	border: solid;
	border-color: #40a7b9;
	border-radius: 8px;
	padding: 5px 10px;
}
.button:hover
{
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@keyframes background_disappearing
{
	from
	{
		opacity: 100%;
	}
	to
	{
		opacity: 40%;
	}
}
@keyframes background_appearing
{
	from
	{
		opacity: 40%;
	}
	to
	{
		opacity: 100%;
	}
}
